<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDMFsOL7wP9PA6OnlyFdTGh4w7laSgefY&sensor=false">
    </script>
    <script type="text/javascript" src="maploco/gmaps_test.js"></script>
    <!--script data-main="scripts/gmaps" src="scripts/require.js"></script-->
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>
